# Discord Bot Configuration
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1407224359231426560/oS1htouI5MlFXg2TGZY-pF8RM_ScT3AEyc1t8O0aJ8zrlVrJf_9JdKe15glGA_rTVDNR

# Google Sheets Configuration
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/1fJxa8j66yuXiRYnWLbwfEJu4Tplb76Riu-F7y3PVcr4/edit?hl=id&gid=0#gid=0
GOOGLE_SHEETS_ID=1fJxa8j66yuXiRYnWLbwfEJu4Tplb76Riu-F7y3PVcr4
GOOGLE_CREDENTIALS_PATH=./credentials/google_service_account.json

# Bot Configuration
AUTHORIZED_USERS=user_id_1,user_id_2,user_id_3
TIMEZONE=Asia/Jakarta
NOTIFICATION_DAYS_BEFORE=7
BOT_PREFIX=/